.past{
    padding:40px;
}

.last{
    margin-top:40;
    padding:40px;
    border:solid;
    border-color:black;
    text-align:center;
}

.laugh{
   padding:40px;
}

.cake{
    margin-top:10px;
}

.last1{
        padding:10px;
        border:solid;
        border-color:black;
        text-align:center;
      
}

.keys{
    margin-top:0px;
    margin-left:21px;
}

.pad{
    margin-top:10px;
}