.last{
    margin-top:22px;
    margin-bottom:22px;
}

.lol{
    text-align:right;
}
.last1{
    margin-top:20px;
    margin-bottom:20px;
}

.lolz{
    margin-top:10px;
  
}

.box
{margin:40px;
 margin-top:10px;
 background-color:white;
}

body
{
background-color: black;
}